/* Geist 1.5.1 */
@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url("./assets/fonts/Geist/webfonts/Geist[wght].woff2")
    format("woff2-variations");
}

/* 4481226b336843648b5b2ee64f75737f262ded15*/
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300 900;
  font-stretch: 100%;
  font-display: swap;
  src: url("./assets/fonts/Merriweather/webfonts/Merriweather[opsz,wdth,wght].woff2")
    format("woff2-variations");
}

@font-feature-values "Geist" {
  @styleset {
    alt-l: 3;
  }
}

:root {
  --color-petrol: #1b9aaa;
  --color-yellow: #ffc43d;
  --color-magenta: #ef476f;
  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary: var(--color-magenta);
  --link-color: var(--color-primary);
  --selection-color: var(--color-white);
  --selection-color-bg: var(--color-primary);

  --rem-font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: var(--rem-font-size);
  line-height: 1.5;
  color: var(--color-black);
  background-color: var(--color-white);
}

::selection {
  color: var(--selection-color);
  background: var(--selection-color-bg);
  text-shadow: none;
}

a {
  text-decoration: none;
  color: var(--link-color);
  text-underline-offset: 0.3em;
  text-decoration: underline currentColor;
  text-decoration-thickness: 0.15em;
}

a[href^="http"]::after {
  content: " ↗";
}

a:hover {
  color: inherit;
}

ol,
ul {
  list-style: none;
  margin-bottom: 0.2rem;
}

p {
  margin-bottom: 0.2rem;
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Geist", sans-serif;
  font-variant-alternates: styleset(alt-l);
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.2em;
  text-wrap: balance;
  line-height: 1.1;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1rem;
  margin-bottom: 0.4em;
}

hr {
  border: none;
  height: 0.1rem;

  background-color: var(--color-black);

  margin-top: 1.1rem;
  margin-bottom: 1.2rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header,
main {
  width: 92%;
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

header {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
