.section {
  padding-top: 0.25rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid var(--color-black);
  border-top: 0.1rem solid var(--color-black);

  h2 {
    margin-top: 0;
    margin-bottom: 1.5em;
  }
}

.section + .section {
  border-top: none;
}

.bg-petrol {
  background-color: var(--color-petrol);
}

.bg-yellow {
  background-color: var(--color-yellow);
}

.bg-magenta {
  background-color: var(--color-magenta);
}

.color-box {
  padding: 1rem;
  color: var(--color-white);

  h3 {
    margin-top: 0;
  }
}

.social-media-box {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.font-box {
  font-size: 2rem;
  line-height: 1.1;
}

.font-box--geist {
  font-family: "Geist", sans-serif;
  font-weight: 600;
  font-variant-alternates: styleset(alt-l);
}

.font-box--merriweather {
  font-family: "Merriweather", serif;
}

:root {
  --size-small: 0.5em;
  --size-medium: 1em;
  --size-large: 2em;
}

.mb--small {
  margin-bottom: var(--size-small);
}
.mb--medium {
  margin-bottom: var(--size-medium);
}
.mb--large {
  margin-bottom: var(--size-large);
}
