.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid var(--color-black);
  border-top: 0.1rem solid var(--color-black);

  h2 {
    margin-top: 0;
  }
}

.section + .section {
  border-top: none;
}

.bg-petrol {
  background-color: var(--color-petrol);
}

.bg-yellow {
  background-color: var(--color-yellow);
}

.bg-magenta {
  background-color: var(--color-magenta);
}

.color-box {
  padding: 1rem;
  color: var(--color-white);

  h3 {
    margin-top: 0;
  }
}
