.section {
  padding-top: 0.25rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid var(--color-black);
  border-top: 0.1rem solid var(--color-black);

  h2 {
    margin-top: 0;
    margin-bottom: 1.5em;
  }
}

.section + .section {
  border-top: none;
}

.palette-grid {
  font-family: "Geist", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1rem;
}

.palette-column {
  overflow: hidden;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
}

.palette-shades {
  display: flex;
  flex-direction: column;
}

.shade {
  padding: 0 1rem;
  color: var(--color-white);
}

.shade--base {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.shade-info {
  min-height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
}

.shade-label {
  min-height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shade--dark-text {
  color: var(--color-black);
}

.shade--spacer {
  min-height: 2.5rem;
  background: transparent;
  border-top: none;
}

.social-media-box {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.font-box {
  font-size: 2rem;
  line-height: 1.1;
}

.font-box--geist {
  font-family: "Geist", sans-serif;
  font-variant-alternates: styleset(alt-l);
  font-weight: 600;
}

.font-box--merriweather {
  font-family: "Merriweather", serif;
}

:root {
  --size-small: 0.5em;
  --size-medium: 1em;
  --size-large: 2em;
}

.mb--small {
  margin-bottom: var(--size-small);
}
.mb--medium {
  margin-bottom: var(--size-medium);
}
.mb--large {
  margin-bottom: var(--size-large);
}

.font--geist {
  font-family: "Geist", sans-serif;
  font-variant-alternates: styleset(alt-l);
}

.font--no-alt-l {
  font-variant-alternates: normal;
}
