.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid var(--color-black);
  border-top: 0.1rem solid var(--color-black);

  h2 {
    margin-top: 0;
  }
}

.section + .section {
  border-top: none;
}
